.card-lg-monster
    background-image: url('../../images/cards/monsters/cards-lg-monster.png')
    width: 238px
    height: 450px

.card-lg-monster-arachas1
    background-position: -238px -0px

.card-lg-monster-arachas2
    background-position: -1666px -0px

.card-lg-monster-arachas3
    background-position: -476px -0px

.card-lg-monster-arachas_behemoth
    background-position: -714px -0px

.card-lg-monster-botchling
    background-position: -0px -450px

.card-lg-monster-celaeno_harpy
    background-position: -238px -450px

.card-lg-monster-cockatrice
    background-position: -476px -450px

.card-lg-monster-crone_brewess
    background-position: -714px -450px

.card-lg-monster-crone_weavess
    background-position: -952px -0px

.card-lg-monster-crone_whispess
    background-position: -952px -450px

.card-lg-monster-draug
    background-position: -1190px -0px

.card-lg-monster-earth_elemental
    background-position: -1190px -450px

.card-lg-monster-endrega
    background-position: -0px -900px

.card-lg-monster-eredin_bringer
    background-position: -238px -900px

.card-lg-monster-eredin_commander
    background-position: -476px -900px

.card-lg-monster-eredin_destroyer
    background-position: -714px -900px

.card-lg-monster-eredin_king
    background-position: -952px -900px

.card-lg-monster-fiend
    background-position: -1190px -900px

.card-lg-monster-fire_elemental
    background-position: -1428px -0px

.card-lg-monster-foglet
    background-position: -1428px -450px

.card-lg-monster-forktail
    background-position: -1428px -900px

.card-lg-monster-frightener
    background-position: -0px -0px

.card-lg-monster-gargoyle
    background-position: -1666px -450px

.card-lg-monster-ghoul1
    background-position: -1666px -900px

.card-lg-monster-ghoul2
    background-position: -0px -1350px

.card-lg-monster-ghoul3
    background-position: -238px -1350px

.card-lg-monster-grave_hag
    background-position: -476px -1350px

.card-lg-monster-griffin
    background-position: -714px -1350px

.card-lg-monster-harpy
    background-position: -952px -1350px

.card-lg-monster-ice_giant
    background-position: -1190px -1350px

.card-lg-monster-imlerith
    background-position: -1428px -1350px

.card-lg-monster-kayran
    background-position: -1666px -1350px

.card-lg-monster-leshen
    background-position: -1904px -0px

.card-lg-monster-nekker1
    background-position: -1904px -450px

.card-lg-monster-nekker2
    background-position: -1904px -900px

.card-lg-monster-nekker3
    background-position: -1904px -1350px

.card-lg-monster-plague_maiden
    background-position: -2142px -0px

.card-lg-monster-vampire_bruxa
    background-position: -2142px -450px

.card-lg-monster-vampire_ekimmara
    background-position: -2142px -900px

.card-lg-monster-vampire_fleder
    background-position: -2142px -1350px

.card-lg-monster-vampire_garkain
    background-position: -0px -1800px

.card-lg-monster-werewolf
    background-position: -238px -1800px

.card-lg-monster-wyvern
    background-position: -476px -1800px



.card-sm-monster
    background-image: url('../../images/cards/monsters/cards-sm-monster.png')
    width: 63px
    height: 87px
    cursor: pointer


.card-sm-monster-arachas1
    background-position: -63px -0px

.card-sm-monster-arachas2
    background-position: -441px -0px

.card-sm-monster-arachas3
    background-position: -126px -0px

.card-sm-monster-arachas_behemoth
    background-position: -189px -0px

.card-sm-monster-botchling
    background-position: -0px -119px

.card-sm-monster-celaeno_harpy
    background-position: -63px -119px

.card-sm-monster-cockatrice
    background-position: -126px -119px

.card-sm-monster-crone_brewess
    background-position: -189px -119px

.card-sm-monster-crone_weavess
    background-position: -252px -0px

.card-sm-monster-crone_whispess
    background-position: -252px -119px

.card-sm-monster-draug
    background-position: -315px -0px

.card-sm-monster-earth_elemental
    background-position: -315px -119px

.card-sm-monster-endrega
    background-position: -0px -238px

.card-sm-monster-eredin_bringer
    background-position: -63px -238px

.card-sm-monster-eredin_commander
    background-position: -126px -238px

.card-sm-monster-eredin_destroyer
    background-position: -189px -238px

.card-sm-monster-eredin_king
    background-position: -252px -238px

.card-sm-monster-fiend
    background-position: -315px -238px

.card-sm-monster-fire_elemental
    background-position: -378px -0px

.card-sm-monster-foglet
    background-position: -378px -119px

.card-sm-monster-forktail
    background-position: -378px -238px

.card-sm-monster-frightener
    background-position: -0px -0px

.card-sm-monster-gargoyle
    background-position: -441px -119px

.card-sm-monster-ghoul1
    background-position: -441px -238px

.card-sm-monster-ghoul2
    background-position: -0px -357px

.card-sm-monster-ghoul3
    background-position: -63px -357px

.card-sm-monster-grave_hag
    background-position: -126px -357px

.card-sm-monster-griffin
    background-position: -189px -357px

.card-sm-monster-harpy
    background-position: -252px -357px

.card-sm-monster-ice_giant
    background-position: -315px -357px

.card-sm-monster-imlerith
    background-position: -378px -357px

.card-sm-monster-kayran
    background-position: -441px -357px

.card-sm-monster-leshen
    background-position: -504px -0px

.card-sm-monster-nekker1
    background-position: -504px -119px

.card-sm-monster-nekker2
    background-position: -504px -238px

.card-sm-monster-nekker3
    background-position: -504px -357px

.card-sm-monster-plague_maiden
    background-position: -567px -0px

.card-sm-monster-vampire_bruxa
    background-position: -567px -119px

.card-sm-monster-vampire_ekimmara
    background-position: -567px -238px

.card-sm-monster-vampire_fleder
    background-position: -567px -357px

.card-sm-monster-vampire_garkain
    background-position: -0px -476px

.card-sm-monster-werewolf
    background-position: -63px -476px

.card-sm-monster-wyvern
    background-position: -126px -476px
