.card-lg-nilfgaardian
  background-image: url('../../images/cards/nilfgaardian/cards-lg-nilfgaardian.png')
  width: 238px
  height: 450px

.card-lg-nilfgaardian-albrich
    background-position: -238px -0px

.card-lg-nilfgaardian-assire_var_anahid
    background-position: -1428px -0px

.card-lg-nilfgaardian-aux_archers1
    background-position: -476px -0px

.card-lg-nilfgaardian-aux_archers2
    background-position: -714px -0px

.card-lg-nilfgaardian-black_infantry_archer1
    background-position: -0px -450px

.card-lg-nilfgaardian-black_infantry_archer2
    background-position: -238px -450px

.card-lg-nilfgaardian-ceallach
    background-position: -476px -450px

.card-lg-nilfgaardian-cynthia
    background-position: -714px -450px

.card-lg-nilfgaardian-eggebracht
    background-position: -952px -0px

.card-lg-nilfgaardian-emhyr_emperor
    background-position: -952px -450px

.card-lg-nilfgaardian-emhyr_imperial
    background-position: -1190px -0px

.card-lg-nilfgaardian-emhyr_relentless
    background-position: -1190px -450px

.card-lg-nilfgaardian-emhyr_white
    background-position: -0px -900px

.card-lg-nilfgaardian-fire_scorpion
    background-position: -238px -900px

.card-lg-nilfgaardian-heavy_fire_scorpion
    background-position: -476px -900px

.card-lg-nilfgaardian-impera_brigade_guard
    background-position: -714px -900px

.card-lg-nilfgaardian-letho
    background-position: -952px -900px

.card-lg-nilfgaardian-menno
    background-position: -1190px -900px

.card-lg-nilfgaardian-morteisen
    background-position: -0px -0px

.card-lg-nilfgaardian-nausicaa_cavalry_rider
    background-position: -1428px -450px

.card-lg-nilfgaardian-puttkammer
    background-position: -1428px -900px

.card-lg-nilfgaardian-rainfarn
    background-position: -1666px -0px

.card-lg-nilfgaardian-renauld
    background-position: -1666px -450px

.card-lg-nilfgaardian-rotten_mangonel
    background-position: -1666px -900px

.card-lg-nilfgaardian-shilard
    background-position: -0px -1350px

.card-lg-nilfgaardian-siege_engineer
    background-position: -238px -1350px

.card-lg-nilfgaardian-siege_tech
    background-position: -476px -1350px

.card-lg-nilfgaardian-stefan_skellen
    background-position: -714px -1350px

.card-lg-nilfgaardian-sweers
    background-position: -952px -1350px

.card-lg-nilfgaardian-vanhemar
    background-position: -1190px -1350px

.card-lg-nilfgaardian-vattier
    background-position: -1428px -1350px

.card-lg-nilfgaardian-vigo
    background-position: -1666px -1350px

.card-lg-nilfgaardian-voorhis
    background-position: -1904px -0px

.card-lg-nilfgaardian-vreemde
    background-position: -1904px -450px

.card-lg-nilfgaardian-young_emissary1
    background-position: -1904px -900px

.card-lg-nilfgaardian-young_emissary2
    background-position: -1904px -1350px


.card-sm-nilfgaardian
    background-image: url('../../images/cards/nilfgaardian/cards-sm-nilfgaardian.png')
    width: 63px
    height: 87px

.card-sm-nilfgaardian-albrich
    background-position: -63px -0px

.card-sm-nilfgaardian-assire_var_anahid
    background-position: -378px -0px

.card-sm-nilfgaardian-aux_archers1
    background-position: -126px -0px

.card-sm-nilfgaardian-aux_archers2
    background-position: -189px -0px

.card-sm-nilfgaardian-black_infantry_archer1
    background-position: -0px -119px

.card-sm-nilfgaardian-black_infantry_archer2
    background-position: -63px -119px

.card-sm-nilfgaardian-ceallach
    background-position: -126px -119px

.card-sm-nilfgaardian-cynthia
    background-position: -189px -119px

.card-sm-nilfgaardian-eggebracht
    background-position: -252px -0px

.card-sm-nilfgaardian-emhyr_emperor
    background-position: -252px -119px

.card-sm-nilfgaardian-emhyr_imperial
    background-position: -315px -0px

.card-sm-nilfgaardian-emhyr_relentless
    background-position: -315px -119px

.card-sm-nilfgaardian-emhyr_white
    background-position: -0px -238px

.card-sm-nilfgaardian-fire_scorpion
    background-position: -63px -238px

.card-sm-nilfgaardian-heavy_fire_scorpion
    background-position: -126px -238px

.card-sm-nilfgaardian-impera_brigade_guard
    background-position: -189px -238px

.card-sm-nilfgaardian-letho
    background-position: -252px -238px

.card-sm-nilfgaardian-menno
    background-position: -315px -238px

.card-sm-nilfgaardian-morteisen
    background-position: -0px -0px

.card-sm-nilfgaardian-nausicaa_cavalry_rider
    background-position: -378px -119px

.card-sm-nilfgaardian-puttkammer
    background-position: -378px -238px

.card-sm-nilfgaardian-rainfarn
    background-position: -441px -0px

.card-sm-nilfgaardian-renauld
    background-position: -441px -119px

.card-sm-nilfgaardian-rotten_mangonel
    background-position: -441px -238px

.card-sm-nilfgaardian-shilard
    background-position: -0px -357px

.card-sm-nilfgaardian-siege_engineer
    background-position: -63px -357px

.card-sm-nilfgaardian-siege_tech
    background-position: -126px -357px

.card-sm-nilfgaardian-stefan_skellen
    background-position: -189px -357px

.card-sm-nilfgaardian-sweers
    background-position: -252px -357px

.card-sm-nilfgaardian-vanhemar
    background-position: -315px -357px

.card-sm-nilfgaardian-vattier
    background-position: -378px -357px

.card-sm-nilfgaardian-vigo
    background-position: -441px -357px

.card-sm-nilfgaardian-voorhis
    background-position: -504px -0px

.card-sm-nilfgaardian-vreemde
    background-position: -504px -119px

.card-sm-nilfgaardian-young_emissary1
    background-position: -504px -238px

.card-sm-nilfgaardian-young_emissary2
    background-position: -504px -357px
