mixin rule(head, value)
    div.about-view__head #{head}
    div.about-view__value #{value}

div.about-view__rules
    div.about-view__head Описание игры
    div.about-view__value Гвинт — это карточная игра для двух человек, которые направляют свои армии друг против друга. Игроки ходят по очереди, выкладывая на поле по одной карте. В конце каждого раунда подсчитывается общая сила всех карт отрядов, размещённых на поле каждого из игроков. Для начала выберите фракцию - армией которой хотите командовать. У каждой фракции свой стиль игры.
    div.about-view__head Цель игры
    div.about-view__value Игрок с большей суммарной силой карт побеждает в раунде. Выигрывает тот, кто первым одерживает победу в двух раундах.
    div.about-view__head Перед началом игры
    div.about-view__value Каждому игроку раздается по 8 карт случайным образом из выбранной колоды. Случайным образом разыгрывается первый ход.
    div.about-view__head Карты отрядов
    div.about-view__value После размещения на поле боя карта отряда добавляет к общей силе войск количество очков, указанное в её левом верхнем углу. Под значком силы карты находится значок позиции, показывающий, в каком ряду её можно использовать.
    div.about-view__head Раунды
    div.about-view__value Игроки ходят по очереди, выкладывая по одной карте. Игрок может спасовать, если нужно. Спасовавший игрок ждёт до конца целого раунда, в то время как противник будет разыгрывать свои карты до тех пор, пока сам не решит спасовать. Когда оба игрока спасовали, игрок с наименьшим количеством очков проигрывает раунд. В случае ничьей у обоих игроков отнимается по жетону. После этого все карты, выложенные на поле битвы, включая специальные, отправляются в отбой. Победитель начинает следующий раунд.

