@import '../../constantStyles.styl';

.form-section
    width: 300px
    margin: auto

.form-field
    width: 100%

.form-label
    overflow: hidden
    float:left
    font-size: 15px;
    font-style: italic;
    font-family: Roboto;
    padding-right: 2px
    color: btnColor

input
    margin: auto
    border-width: 0
    padding: 4px

.signup__input
    height: 30px
    background-color: #7aa99e
    width: 300px
    cursor: pointer
    opacity: 0.9

.form-input
    height: 40px
    background-color: #263141
    color: #e6eaf2
    font-size: 20px
    width: 150px
    cursor: pointer
    opacity: 0.6
    margin-top: 10px
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3)

.login__input
    height: 30px
    background-color: #595
    width: 60px
    cursor: pointer
    opacity: 0.8

.password-validate, .login-validate, .email-validate
    font-size: 14px
    font-family: KacstScreen
    font-style: italic
    padding-bottom 5px
    color: btnColor
    height: 15px
