@import '../../constantStyles.styl';

.form-section
    width: 300px
    margin: auto

.form-field
    width: 100%

input
    margin: auto
    border-width: 0
    padding: 4px

.form-input
    display: block
    margin: 15px auto
    height: 40px
    background-color: btnColor
    font-size: btnTextSize
    color: btnTextColor
    width: 150px
    cursor: pointer
    opacity: 0.6
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3)

.password-validate, .login-validate, .email-validate
    font-size: 16px
    font-family: KacstScreen
    font-style: italic
    padding-bottom 5px
    color: btnColor
    height: 16px

.sign-input
    background-color: #7aa99e
    opacity: 0.6
    height: 45px
    border-radius: 5px
    width: 100%
    font-size: 18px
    padding-left: 10px
    box-sizing: border-box
