.scoreboard-view
    display flex;
    flex-direction column
    align-items  center

.scoreboard-view__header


.scoreboard-view__buttons
    display flex
    justify-content space-around
    width 20%

#back:hover, #forward:hover
    color #36324a
    cursor pointer
#user
    border 2px solid aquamarine
    &:hover
        cursor pointer
table
    border-collapse collapse
    border 2px solid black
//td, th
//    padding: 5px; /* Поля вокруг текста */
//    border: 2px solid green; /* Рамка вокруг ячеек */