.game-view
    h2.game-view__header Игрa
    div(id='game-view__gamefield')
        div(id='comp-d')
        div(id='comp-c')
        div(id='comp-b')
        div(id='user-b')
           div(id='user-b__score!!!!!!!!')
        div(id='user-c')
        div(id='user-d')
    div(id='game-view__cardfield')
