.game-view {
    display: inline;
    margin: auto;
    float: left;
}

.cardImg {
    width: 35px;
    height: 50px;
    padding: 5px;
}

.game-view__cardfield {
    margin: auto;
    width: 600px;
    display: inline-block;
}

.game-view__gamefield {
    margin: auto;
}

.game-view__profilefield {
    height: 440px;
    display: inline;
    float: left;
}


.btn-pass {
    background-color: #22170f;
    width: 110px;
    height: 20px;
    margin: 10px;
    border-width: 0px;
    opacity: 0.9;
    color: white;
}


.user {
    background-color: #22170f;
    opacity: 0.9;
    height: 57px;
    margin: 10px;
    width: 700px;
}

.user-score {
    background-color: #22170f;
    margin: 10px;
    opacity: 0.9;
    height: 80px;
    width: 100px;
    padding: 7px;
    box-shadow: 0 0 15px black;
    color: white;
}

.comp-score {
    background-color: #22170f;
    margin: 10px;
    opacity: 0.9;
    height: 80px;
    width: 100px;
    padding: 7px;
    box-shadow: 0 0 15px black;
    color: white;
}
