.game
    margin-top: 20px


.game-view
    display: flex
    margin: auto
    width: 700px


.game-view
    &__board
        margin: auto
        width: 500px
    &__cardfield
        margin: auto
        width: 600px
        display: block
    &__gamefield
        margin: auto
    &__profilefield
        height: 440px;
        display: inline
        width: 170px;
    &__btn-exit
        width: 200px
        display: block
        margin: 10px
        background-color: #595
        color: #111
        height: 50px
        border-width: 0
        opacity: 0.9
        box-shadow: 0 0 15px
        cursor: pointer
        border-radius: 9px

.cardfield
    &__card-img
        width: 45px
        height: 65px
        padding: 5px


.game-board
    &__board-item
        background-color: #22170f
        opacity: 0.9
        height: 75px
        margin: 10px 0

.profilefield__score,
.profilefield__btn-pass,
.profilefield__btn-exit {
    background-color: #22170f;
    margin: 10px;
    opacity: 0.9;
    padding: 7px;
    box-shadow: 0 0 15px black;
    color: white;
}

.profilefield
    &__btn-exit
        background-color: #595
        cursor: pointer

.profilefield
    &__btn-pass
        text-align: center
        cursor: pointer
