.game {
    margin: 20px;
    overflow-x: hidden;
}

.game-view__zoomEl {
    padding-top: 78px;
    background: url("../../images/cards/b1.jpg") no-repeat center bottom;
    width: 940px;
    height: 400px;
    background-size: 300px;
}


.game-view
    display: flex;
    margin: auto;
    width: 1050px;
    border: 5px solid;
    border-color: turquoise;
    border-radius: 27px;
    padding: 5px;


.game-view
    &__board
        margin: auto;
        width: 500px;
    &__cardfield
        margin: auto;
        width: 600px;
        display: block;
    &__gamefield
        margin: auto;
    &__profilefield
        height: 440px;
        display: inline;
        width: 300px;


.cardfield__card-imgbig {
    width: 50px;
    height: 65px;
}
.cardfield__card-imgbig:hover {
    transform: translateY(-20px);
    transition-duration: 0.3s;
    cursor: pointer;
}
.cardfield__card-imgbig-mousedown {
    width: 50px;
    height: 65px;
}

.cardfield__card-img, .cardfield__card-img__mousedown {
    width: 35px;
    height: 50px;
    padding: 5px;
    animation: append 2s linear;
}

@keyframes append {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(20px);
    }
}
.cardfield__card-img:hover {
    transform: translateY(-20px);
    transition-duration: 0.3s;
    cursor: pointer;
}

.cardfield__wrapper {
    background-color: black;
    height: 65px;
    width: 55px;
    display: inline-flex;
}


.game-board__board-item {
    background-color: rgba(34, 23, 15, 0.9);
    height: 57px;
    margin: 10px 0;
    width: 600px;
    display: flex;
}

.game-view__board-item-cell {
    background-color: #c5c5c5;
    display: inline-block;
    height: 65px;
    width: 75px;
}

.board-item__inneritem {
    margin: 0 auto;
}


.profilefield__score,
.profilefield__btn-pass,
.profilefield__btn-exit {
    background-color: #22170f;
    margin: 10px;
    opacity: 0.9;
    padding: 7px;
    box-shadow: 0 0 15px black;
    color: white;
}

.profilefield__btn-exit {
    background-color: #595;
    cursor: pointer;
}

.profilefield__btn-pass {
    text-align: center;
    cursor: pointer;
}

.game-view__btn-exit {
    width: 200px;
    display: block;
    margin: 10px;
    background-color: #595;
    color: #111;
    height: 50px;
    border-width: 0;
    opacity: 0.9;
    box-shadow: 0 0 15px;
    cursor: pointer;
    border-radius: 9px;
}
