@import '../../constantStyles.styl';

.game-board
    &__board-item
        opacity: 0.9
        height: 87px
        border-bottom: 1px solid black
        display: flex
    &__score
        width: 40px
        color: white
        text-align: center
        padding-top: 35px
    &__line
        position: relative
