.form-section
    form.signin-view__form.signin-form-js
        div.form-field
            input(type="text", required="required", oninvalid="setCustomValidity(' ')", name="login", id= "InInput" placeholder="login")
            div.login-validate
        div.form-field
            input(type="password", required="required", oninvalid="setCustomValidity(' ')", name="password", id="Signin" placeholder="password")
            div.password-validate
        input(type="submit", value="Sign in").form-input
