.form-section
    form.signin-view__form.signin-form-js
        div.form-field
            label.form-label Login
            input(type="text", oninvalid="setCustomValidity(' ')", name="login", id= "InInput" placeholder="Example")
            div.login-validate
        div.form-field
            label.form-label Password
            input(type="password", oninvalid="setCustomValidity(' ')", name="password", id="Signin" placeholder="****")
            div.password-validate
        input(type="submit", value="Sign in").form-input
