.form-section
    h2.signin-view__header Вход
    form.signin-view__form.signin-form-js
        input(type="text", required="required", name="login", placeholder="Введите ваш Login")
        input(type="password", required="required", name="password", placeholder="Введите ваш пароль")
        input(type="submit", value="Вход").login__input
