.form-section
    h2.signin-view__header Вход
    form.signin-view__form.signin-form-js
        div.form-field
            label.form-label Login
            input(type="text", required="required", name="login", placeholder="Example")
            div.login-validate
        div.form-field
            label.form-label Password
            input(type="password", required="required", name="password", placeholder="****")
            div.password-validate
        input(type="submit", value="Вход").form-input
