.training {
    margin: 20px;
    overflow-x: hidden;
}

.training-view__cardfield {
    margin: auto;
    width: 166px;
    display: block;
    float: left;
}

.firstStep {
    width: 170px;
    height: 100px;
    border: 4px solid #FDEAA8;
    box-shadow: 0px 0px 10px whitesmoke;
    border-radius: 3px;
    background-color: lightgray;
    animation: firstDiscription 2s;
}

.firstStep__cardfield {
    margin: auto;
    width: 166px;
    display: block;
    float: left;
    animation: scaling 2s linear;
}

@keyframes scaling  {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.25);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes firstDiscription {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0.3;
    }
    66% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.text-typing
{
    width: 40em;
    color:black;
    font-size: 18px;
    font-family: fantasy;
    font-style: italic;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}
@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}