.form-section
    form.signup-view__form.signup-form-js
        input(type="text", required="required", name="login", placeholder="Введите ваш Login")
        input(type="email", required="required", name="email", placeholder="Введите ваш email")
        input(type="text", required="required", name="password", placeholder="Придумайте пароль длиннее 4 символов", pattern="^\\S{4,}$")
        input(type="submit", value="Зарегистрироваться").form-input