@import '../../constantStyles.styl';

.form-inline {
    display: flex;
}

.form-check {
    cursor: pointer;
    background-image: url(../../images/view.png);
    background-repeat: no-repeat;
    background-size: 36px;
    min-width: 36px;
    height: 21px;
    width: 36px;
    margin: 14px;
    margin-left: 10px;
}

.signup-input
    background-color: #7aa99e
    height: 20px
    opacity: 0.6

::-webkit-input-placeholder /* WebKit browsers */
        color: btnTextColor
