.form-section
    h2.signup-view__header Регистрация
    form.signup-view__form.signup-form-js
        div.form-field
            label.form-label Login
            input(type="text", required="required", name="login", placeholder="Example")
            div.login-validate
        div.form-field
            label.form-label Email
            input(type="email", required="required", name="email", placeholder="example@mail.ru")
            div.email-validate
        div.form-field
            label.form-label Password
            input(type="password", required="required", name="password", placeholder="****", pattern="^\\S{4,}$")
            div.password-validate
        input(type="submit", value="Зарегистрироваться").form-input