@import '../../constantStyles.styl';

.form-inline {
    display: flex;
}

.form-check {
    cursor: pointer;
    background-image: url(../../images/view.png);
    background-repeat: no-repeat;
    background-size: 36px;
    min-width: 36px;
    height: 21px;
    width: 36px;
    margin: 14px;
    margin-left: 10px;
}

.signup-input
    background-color: #7aa99e
    opacity: 0.6
    height: 45px
    border-radius: 5px
    width: 100%
    font-size: 18px
    padding-left: 10px
    box-sizing: border-box

::-webkit-input-placeholder /* WebKit browsers */
        color: btnTextColor
