.signup-view__form {

}

.signup-view__header {

}

.form-inline {
    display: flex;
}

.form-check {
    cursor: pointer;
    background-image: url(../../images/demo.jpg);
    background-repeat: no-repeat;
    background-size: 36px;
    min-width: 36px;
    height: 21px;
    width: 36px;
    margin: 14px;
    margin-left: 10px;
}