mixin item(title, href)
    button.main__menu(href=href)= title

.main__menu
    +item('About', '/about')
    if authorized
        +item('Play', '/game')
        +item('Profile', '/profile')
        +item('Scoreboard', '/score')
        +item('Sign out', '/logout')
    unless authorized
        +item('Sign in','/login')
        +item('Sign up','/signup')
        button.main__menu#popup Play
