.main__menu {
    margin: auto;
    width 400px
}

.main__menu button {
    display: block;
    margin: 10px auto;
    width: 100px;
    background-color: #595;
    color: #111;
    height: 50px;
    border-width: 0;
    opacity: 0.9;
    box-shadow: 0 0 15px;
    cursor: pointer;
    border-radius: 9px;
}