@import '../../constantStyles.styl';

.main__menu
    margin: auto
    width 400px
    margin-top: 40px

.main__menu button
    display: block
    margin: 10px auto
    width: 150px
    background-color: btnColor
    color: btnTextColor
    height: 40px
    border-width: 0
    opacity: 0.6
    cursor: pointer
    font-size: 20px

.main__menu button:hover
    opacity: 1
