.background__img {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url(../../images/background1.jpg);
    background-size: cover;
}

.application {
    width: 640px;
}

.app__logo {
    background-repeat: no-repeat;
    background-image: url(../../images/logo.png);
    background-position: center center;
    background-size: contain;
    width: 50%;
    margin: auto;
    height: 32%;
    cursor: pointer;
}
