.background__img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url(../../images/background.jpg);
    background-size: cover;
}

.app__logo {
    background-repeat: no-repeat;
    background-image: url(../../images/logo.png);
    background-position: center center;
    background-size: contain;
    width: 500px;
    margin: auto;
    height: 320px;
    cursor: pointer;
}