.profile-view
    h2.profile-view__header Мой профиль
    div
        span Имя
        span #{user.login}
    div
        span Почта
        span #{user.email}
    div
        span Пароль
        span #{user.password}