.profile-view
    h2.profile-view__header Мой профиль
    div
        span Имя:
        span.profile-view__header__data #{user.login}
    div
        span Почта:
        span.profile-view__header__data #{user.email}
    div
        span Победы:
        span.profile-view__header__data #{user.wins}
