.profile-view
    h2.profile-view__header Profile
    div
        span Name:
        span.profile-view__header__data #{user.login}
    div
        span E-mail:
        span.profile-view__header__data #{user.email}
    div
        span Scores:
        span.profile-view__header__data #{user.wins}
