.game-view
    &__preloader
        font-size: 19px
        text-align: center
        margin: auto
        background-color: #495865
        &__illuminate
            box-shadow: 0 0 11px 3px yellow
