@import '../../constantStyles.styl';

.profilefield
    &__btn-exit
        background-color: btnColor
        cursor: pointer
        font-size: btnTextSize
        color: btnTextColor
        text-align: center
