.deck
  background-color transparent
  top 0
  left 0
  position fixed
  width 100%
  height 100%
  z-index 1000
  &__rect
    box-shadow 0 0 14px #ffff30
    background-color white
    width 300px
    height 300px
    margin 12% auto
    border-radius: 12px;

.deck__rect
  .form-input
    width 100px

.deck_active
  background-color transparent
  top 0
  left 0
  position fixed
  width 100%
  height 100%
  z-index 1000
  backdrop-filter blur(5px)
  animation popup .6s linear

.card-lg-monster-arachas1_transform, .card-lg-monster-arachas2_transform
  background-image: url('../../images/cards/monsters/cards-lg-monster.png')
  width: 238px
  height: 450px
  background-position: -238px -0px
  cursor pointer
  transform scale(.4)

.card-lg-monster-arachas2_transform
  background-position: -1666px -0px
  top 0
  left 0
  position absolute

@keyframes popup
  0%
    opacity 0
  25%
    opacity 0.25
  50%
    opacity 0.5
  75%
    opacity 0.75
  100%
    opacity 1

